cameras:
  - stream_id: stream
    passthrough: false          # If the stream should be passed through without geo mapping (all other parameters are ignored if true)
    view_x_deg: 90              # Horizontal angle of view in degrees. If you only specify view_x_deg, view_y_deg is chosen according to the image aspect ratio
    view_y_deg: 54
    image_width_px: 1920
    image_height_px: 1080
    focallength_mm: 20          # view_*_deg and image dimensions are equivalent (only one set of parameters should be set!). Sensor size is harder to obtain and therefore only second choice.
    sensor_height_mm: 16        # See above
    sensor_width_mm: 9          # See above
    pos_lat: 52                 # Camera latitude
    pos_lon: 10                 # Camera longitude
    elevation_m: 10             # Camera height above ground
    tilt_deg: 45                # 0° => camera facing straight down (image plane parallel to the ground), 90° => camera pointed at horizon (image plane 90° to the ground)
    roll_deg: 0                 # Rotation of the camera along the optical axis
    heading_deg: 90             # Camera heading (i.e. in which direction the camera is pointed)
    abc_distortion_a: null      # You must only specify not-none parameters for one of the distortion models (or none at all, if no correction is needed)
    abc_distortion_b: null
    abc_distortion_c: null
    brown_distortion_k1: null   # See above
    brown_distortion_k2: null
    brown_distortion_k3: null
    mapping_area:               # Must be a geojson `Polygon`. If set, only detections within that polygon will be mapped (i.e. will have coordinates set)
      type: Polygon
      coordinates: [[
          [52.42437380555923, 10.786768622047525],
          [52.42435988203632, 10.787004365640092],
          [52.424133935311794, 10.786939975609606],
          [52.42413337422841, 10.786721564672098],
          [52.42437380555923, 10.786768622047525],
        ]]

object_center_elevation_m: 0    # Elevation of the object center above ground (used for correcting perspective when mapping object locations into 3D space). In many cases 1.0m makes sense as a starting point.

log_level: DEBUG
redis:
  host: redis
  port: 6379