[Unit]
Description=Object Mapper Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/geomapper
ExecStart=/usr/local/bin/geomapper
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target