[Unit]
Description=Object Mapper Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/geomapper
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=geomapper

[Install]
WantedBy=multi-user.target